{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> Elastic Community Blog is a platform for sharing news, insights, and best practices
                related to Elastic technology. Our
                diverse community of users and experts is passionate about leveraging Elastic to power their businesses.

                <a href="https://distributed.com/" target="_blank" class="btn btn-danger mt-4">Learn
                    more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}